<h5 class="ml-2"><b>{{ isEdit ? 'Edit meal' : 'Add new meal' }}</b></h5>
<div class="row mt-2">
  <div class="col-3 ml-2">
    <form (ngSubmit)="saveMeal()" #mealForm="ngForm">
      <div class="form-group">
        <select
          name="time"
          id="time"
          class="form-control"
          ngModel
        >
          <option value="Breakfast">Breakfast</option>
          <option value="Snack">Snack</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
        </select>
      </div>
      <div class="form-group">
    <textarea
      name="description"
      id="description"
      class="form-control"
      placeholder="Meal description"
      ngModel
    ></textarea>
      </div>
      <div class="form-group form-inline">
        <input
          type="number"
          name="calories"
          id="calories"
          class="form-control"
          ngModel
        />
        <p class="ml-3">kcal</p>
      </div>
      <button type="submit" class="btn btn-danger">{{ isEdit ? 'Edit' : 'Create' }}</button>
    </form>
  </div>
</div>
