<div class="form-inline ml-2">
  <div class="form-group">
    <p>Total calories: <b>{{ getTotal() }}</b> kcal</p>
  </div>
  <div class="form-group ml-5">
    <a class="btn btn-primary mb-3" style="margin-left: 115px" routerLink="add">Add new meal</a>
  </div>
</div>
<app-meals></app-meals>
