<div class="form-inline" style="border: 3px solid black; width: 450px; margin-left: 10px; margin-bottom: 10px">
  <div class="col mt-3">
    <p style="color: gray">{{ meal.time }}</p>
    <p>{{ meal.description }}</p>
  </div>
  <div class="col-3">
    <p><b>{{ meal.calories }}</b> kcal</p>
  </div>
  <div class="col-2">
    <img alt="#" src="https://www.pngrepo.com/png/79440/512/delete-button.png" style="height: 30px; cursor: pointer; margin-bottom: 10px" (click)="onRemove()"/>
    <img alt="#" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png" style="height: 30px; cursor: pointer" [routerLink]="['/edit', meal.id]"/>
  </div>
</div>
